# Disable Git LFS for deployed assets on GitHub pages
*.jpg -filter -diff -merge -text
*.jpeg -filter -diff -merge -text
*.png -filter -diff -merge -text
*.gif -filter -diff -merge -text
*.svg -filter -diff -merge -text
*.ico -filter -diff -merge -text
*.webp -filter -diff -merge -text
*.woff -filter -diff -merge -text
*.woff2 -filter -diff -merge -text
*.ttf -filter -diff -merge -text
*.eot -filter -diff -merge -text
*.mp3 -filter -diff -merge -text
*.mp4 -filter -diff -merge -text
*.webm -filter -diff -merge -text
